.form {
    width:500px;
    height:200px;
  }
  .form > * {
    width: 100%;
  }
  .form textarea {
    height: 100px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  button {
    border: 1px solid #fff;
    outline: none;
  }