
<div class="row">
<div class="col-md-9 col-sm">
  <h2>Marcin Franczak</h2>
  <h4>Data urodzenia: 4.12.1989</h4>
  <h4>Miasto zamieszkania: Poznań</h4>
  <h4>Miejsce urodzenia: Zabrze</h4>
  <h5>Edukacja: Collegium Da Vinci</h5>
  <div class="map">
      <agm-map [zoom]="16" [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
</div>

<div class="col-md-3 col-sm center">
    <figure>
        <img src="../../assets/photo.jpg" alt="" srcset="">
    </figure>
</div>



</div>
