input {
    text-transform: capitalize;
    color:#fff;
}
button {
    outline:none;
    border:1px solid #fff;
    margin-left:10px;
    margin-right:10px;
}
.error {
  color:#b10000;
  }
  .center {
    margin-left:auto;
    margin-right: auto;
}