.icon img{
  width:80%;
  margin:auto;
  max-width: 400px;
  text-align: center;
  //display:block;

}
div {
 // background-color: #ffffff25;
  
}
.details {
  h1,h2,h3,h4,h5,h6 {
    text-align: center;
  }

}
